<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/navbar.css' %}" />
  </head>
  <body>
    <nav class="nav">
      <div class="img-logo--deerwalk">

        {% load static %}
  
        <img src="{% static 'images/dw.png' %}" />
      </div>
      <a href="{% url 'courses' %}" class="nav-item is-active" active-color="orange">Courses</a>
      <a href="{% url 'profile' %}" class="nav-item" active-color="green">Profile</a>
      <a href="{% url 'logout' %}" class="nav-item" active-color="red">Logout</a>
      <span class="nav-indicator"></span>
    </nav>
    <script src="{% static 'js/nav.js' %}"></script>
  </body>
</html>