{% extends 'main.html' %}

{% block content %}

<main>
    <div class="courses-container">
        <div class="course-details--students">
            <h2>Total Students</h2>
            <h4>12</h4>
        </div>
        <div class="course-details--subjects">
            <h2>Total Courses</h2>
            <h4>5</h4>
        </div>
        <div class="course">
            <div class="course-preview">
                <h6>Course</h6>
                <h2>Diploma in JavaScript</h2>
                <i class="fab fa-js-square js"></i>
            </div>
        <div class="course-info">
            <button class="btn--attend">Take Attendance</button>
        </div>
        </div>
    </div>
</main>

{% endblock %}
